<div class="container mt-5">
    <p class="fs-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium nobis recusandae voluptatem
        aliquam, pariatur saepe voluptates provident quos similique distinctio temporibus soluta hic illo minima
        deserunt, doloribus, doloremque est impedit eius molestias eveniet. Beatae, culpa sunt eaque voluptatibus est id
        impedit vel, iste laboriosam corporis maxime ratione nostrum libero quisquam necessitatibus, earum itaque
        commodi ex ut consequuntur illo quam rem architecto mollitia? Veniam, ullam id. Vero vitae reiciendis culpa
        sequi, at, dolore quidem eligendi aliquam quisquam, officiis ipsa nemo architecto sapiente modi debitis commodi
        inventore ea. Quo alias debitis rem blanditiis incidunt ratione sed architecto in beatae hic, at eius?</p>
</div>